@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body {
    font-family: 'Indie Flower', cursive;
    color: whitesmoke;
    fill: whitesmoke;
    background-color: #333;
}
.link {
    fill: none;
    stroke: gray;
    stroke-width: 1.5px;
}
#d3Frame {
    padding-left: 10px;
}